<strong>Olá, {{ deliveryman }} </strong>
<p>
  Houve um cancelamento da encomenda, confira os detalhes abaixo:
</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente: </strong>{{recipient}} <br />
  <strong>Endereço: </strong>{{address}} <br />
  <br />

  <small>
    Pedimos desculpas pelo transtorno
  </small>
</p>
