<strong>Olá, {{ deliveryman }} </strong>
<p>
  Houve uma nova encomenda cadastrada para você, confira os detalhes abaixo:
</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Cliente: </strong>{{recipient}} <br />
  <strong>Endereço: </strong>{{address}} <br />
  <br />

  <small>
    O produto já se encontra disponível para a retirada
  </small>
</p>
